---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
			<i class='fa fa-clock-o'></i>
			{% assign words = content | number_of_words %}
				  {% if words < 360 %}
					1 min
				  {% else %}
					{{ words | divided_by:180 }} minute read time
				  {% endif %}
            <div id="markdown-content-container">{{ content }}</div>
            <p class="text-center">
              <br />
            </p>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
